body {
    margin: 0;
    font-family: 'Monotserra', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

.logo {
    color: white;
    font-size: 50px;
    font-family: 'Kaushan Script', cursive;


}
.nav {
    font-size: 20px;
    text-transform: uppercase;

}
.nav_link {
    color: white;
    text-decoration: none;
    transition: color .2s linear;
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    position: relative;
}

.nav_link:after{
    content:"";
    display: block;
    width: 100%;
    height: 3px;
    background-color: aquamarine; /* цвет полоски при наведении изчезает */
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
}

.nav_link:hover {
color: aquamarine;
   }

.nav_link:hover:after {
    display: block;     /* полоска при наведении изчезает */
}

.header{

    background-image: url("img/fon1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}


.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 1000px;
    background-image: url("img/fon-body.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container_welcome {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    text-align: center ;
    font-size: 14px;


}

.privetsvie_suptitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 50px;
    font-weight: 300;
    color: black;
    text-transform: uppercase;
    line-height: 1;
}

.privetsvie_title {
    font-family: 'Kaushan Script', cursive;
    color: black;
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1;

}
/*кнопка*/
.btn {
    font-family: 'Kaushan Script', cursive;
    display: inline-block;
    vertical-align: top;
    border: 3px solid white;
    padding: 10px 30px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    margin: 60px auto 0;
    transition: background .1s linear, color .1s linear;
}
.btn:hover {
    background-color: aquamarine;
    color: black;

}

/* блок информации*/

.information {
    display: flex;
    background-image: url("img/fon1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1000px;
    width: 100%;

}

.about_me {
    height: 1000px;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    margin: 0 auto;


}
.about_me_title {
    color: floralwhite;
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;

}

.about_me_title h2, h3{
    text-align: center;
}

.about_me_title li{
    margin-left: 50px;
}

.country { /*убрал подцеркивание и поставил цвет шрифта */
    text-decoration: none;
    color: white;
    transition: background .1s linear, color .1s linear;
}

.country:hover {
    background-color: aquamarine;
    color: black;

}


/* ******************************
footer
 ******************************* */


footer {
    width: 100%;
    height: auto;
    background-image: url("img/footer.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;

}
footer a{

    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 100px;

}

footer nav a:hover{
    border-bottom: 1px solid white;

}

.social img{

    margin-left: 20px;
    margin-bottom: 20px;
}

.social img:hover{

    background: red;
    border-radius: 50%;
}

footer p{

    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 0 auto;

}